body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: #000000;
}

#content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: fixed;
}

#details-container {
  flex-direction: column;
  min-width: fit-content;
}

#row-title {
  padding: 15px 36px;
  background-color: #fff;
}

#title {
  color: #000;
  font-size: 25px;
  margin: 0;
  letter-spacing: 1px;
  font:
    500 25px/1.2 "Oswald",
    sans-serif;
}

.row-social {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 31px;
  padding-right: 31px;
  margin-bottom: 10px;
  width: max-content;
}

.row-social img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.row-social img:hover {
  filter: invert(0.5);
}

#row-social-main {
  margin-top: 10px;
}

#row-social-secondary {
  display: none;
}

#phone-frame {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  width: inherit;
  height: inherit;
}

#app-content {
  border: 0;
  display: inline;
  z-index: 1;
  position: absolute;
  top: 56px;
  left: 19px;
  transition: all 500ms linear;
}

#phone-content-container {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#phone-container {
  position: relative;
  height: 800px;
  width: 400px;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 0.5s;
  transition: all 500ms linear;
}

#loader {
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #009789;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading-screen {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50px;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

