body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #000000
}

#background-container img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#background-container img.opaque {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

#main-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#header-row {
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    background-color: #fff;
    color: #000;
    padding: 15px 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    font: 500 25px/1.2 "Oswald", sans-serif;
}

#social-wrapper {
    background-color: white;
    padding: 10px;
}

#social-wrapper img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

#social-wrapper img:hover {
    filter: invert(.5);
}

#content-row {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    flex-grow: 2;
}

#phone-frame {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    width: inherit;
    height: inherit;
}

#app-content {
    border: 0;
    display: inline;
    z-index: 1;
    position: absolute;
    top: 56px;
    left: 21px;
}

#phone-container {
    position: relative;
    height: 800px;
    width: 400px;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebottom;
    animation-duration: 0.5s
}

#loader {
    z-index: 1;
    width: 40px;
    height: 40px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #009789;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading-screen {
    display: flex;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.turn-to-light {
    -webkit-animation-name: turnToLight;
    -webkit-animation-duration: 1s;
    animation-name: turnToLight;
    animation-duration: 1s;
    filter: invert(0);
    -webkit-filter: invert(0);
}

@keyframes turnToLight {
    from {
        filter: invert(1);
        -webkit-filter: invert(1);
    }
    to {
        filter: invert(0);
        -webkit-filter: invert(0);
    }
}

.turn-to-dark {
    -webkit-animation-name: turnToDark;
    -webkit-animation-duration: 1s;
    animation-name: turnToDark;
    animation-duration: 1s;
    filter: invert(1);
    -webkit-filter: invert(1);
}

@keyframes turnToDark {
    from {
        filter: invert(0);
        -webkit-filter: invert(0);
        opacity: 1;
    }
    to {
        filter: invert(1);
        -webkit-filter: invert(1);
        opacity: 0.8;
    }
}